* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 10px;
  background-color: #312e2b;
}

.board {
  display: grid;
  grid-template-rows: repeat(8, var(--box-size));
  justify-content: center;
  --box-size: 75px;
  .row {
    display: grid;
    grid-template-columns: repeat(8, var(--box-size));
    &:nth-child(n) {
      .piece {
        &:nth-child(n) {
          background-color: #e7e7ce;
        }
        &:nth-child(2n) {
          background-color: #798f5b;
        }
      }
    }
    &:nth-child(2n) {
      .piece {
        &:nth-child(n) {
          // #6A874D
          // #BBCB3C - tile
          background-color: #798f5b;
        }
        &:nth-child(2n) {
          // #D6D6BC
          // #F6F67E - tile
          background-color: #e7e7ce;
        }
      }
    }
    .piece {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      padding: 0px;
      cursor: pointer;
      &:disabled {
        cursor: default;
      }
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}
